*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: blanchedalmond;
}
.tittle {
  display: grid;
  grid-template-columns: 35% 65%;
}
.tittle img {
  width: 100%;
  border-top: 5cm;
}
.bildunterschrift span {
  display: block;
  position: absolute;
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 100%;
  text-align: center;
  line-height: 2em;
  bottom: 0cm;
}
.bildrahmen {
  box-sizing: border-box;
  border: tan solid;
}
